@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

body {
  background-image: linear-gradient(to bottom, rgba(28, 36, 61, 0.8),rgba(28, 36, 61, 0.8)), url('./assets/pexels-maxyne-barcel-10402282\ 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}
/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 5rem;
}
.navbar .list{
  display: flex;
  justify-content: space-between;
  width: 150%;
  list-style: none;
  color: #ffc233;
  font-size: 1.5rem;
  cursor: pointer;
}
.button-small{
  background-color: #FF505F;
  border: none;
  color: #FFFCFC;
  font-size: 1.5rem;
  padding: 0.8rem 2.8rem;
}
.navbar .logo{
  width: 9rem;
  margin-right: -9rem;
}
/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-heading{
  color:#ffc233 ;
  font-size: 4.8rem;
  margin: 0rem 18rem;
  font-family: "Dela Gothic One";
  font-weight: 400;
}
.button-large{
  background-color: #FF505F;
  border: none;
  color: #FFFCFC;
  font-size: 1.3rem;
  padding: 0.8rem 2.8rem;
  margin: 3rem 0rem;
}
.bottom{
  align-self: flex-end;
  margin-right: 4rem;
}
.bottom img{
  width: 120px;
}